---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PorjectsFooter from '../components/ProjectsFooter.astro';

import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover-2.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';

import ImageTabs from '../components/ImageTabs.astro';

const DashboardONTabs = [
  {
    id: "tab1",
    label: "old",
    imageUrl: "../img/ds--dashboard-view-old.png",
  },
  {
    id: "tab2",
    label: "light",
    imageUrl: "../img/ds--dashboard-view-light.png",
  },
];

const DashboardLDTabs = [
  {
    id: "tab2",
    label: "light",
    imageUrl: "../img/ds--dashboard-view-light.png",
  },
  {
    id: "tab3",
    label: "dark",
    imageUrl: "../img/ds--dashboard-view-dark.png",
  },
];

const ExplorerONTabs = [
  {
    id: "tab1",
    label: "old",
    imageUrl: "../img/ds--explorer-old.png",
  },
  {
    id: "tab2",
    label: "light",
    imageUrl: "../img/ds--explorer-light.png",
  },
];

const ExplorerLDTabs = [
  {
    id: "tab2",
    label: "light",
    imageUrl: "../img/ds--explorer-light.png",
  },
  {
    id: "tab3",
    label: "dark",
    imageUrl: "../img/ds--explorer-dark.png",
  },
];
---

<Layout title="Ashraf Khattab Portfolio | Metric Explorer">
	
	<main id="case-study">
		<Nav />
		<div style="position:relative; ">
			<section class="case-study--header">
				<div style="max-width: 800px; margin: 0 auto 3rem; text-align: center;">
					<h1 style="margin-bottom: 2rem;" class="header-appear">Metric Explorer</h1>
					<p class="subheader-appear">A powerful tool designed for advanced analysis, offering seamless AI integration to simplify complex tasks and enhance overall ease of use.</p>
				</div>
				<div class="case-study--full-container" style="margin-bottom: 5rem; text-align: center">
					<figure class="work-cover" transition:name="explorer-hero">
						<Image src={ExplorerHero} alt="Metric Explorer" style="border-radius: 2rem;"  />
					</figure>
				
				</div>
			
			</section>
			<section class="case-study--" style="">

				<div class="case-study--large-container" style="margin-bottom: 3rem; position: relative; container-type: inline-size;">
					<section style="margin-bottom: 3rem;">
						<h2 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 1rem;">Dashboards</h2>
						<ImageTabs sectionId="dashboard" tabsData={DashboardONTabs} />
						<ImageTabs sectionId="dashboard" tabsData={DashboardLDTabs} />
					</section>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--large-container" style="margin-bottom: 3rem; position: relative; container-type: inline-size;">
					<section style="margin-bottom: 3rem;">
						<h2 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 1rem;">Explorer</h2>
						<ImageTabs sectionId="dashboard" tabsData={ExplorerONTabs} />
						<ImageTabs sectionId="dashboard" tabsData={ExplorerLDTabs} />
					</section>
				</div>

				<div style="height: 3px; width: 300px; background: #555; position: relative; margin: 5rem auto;"></div>

				<div class="case-study--large-container" style="margin-bottom: 3rem; position: relative; container-type: inline-size;">
					<section style="margin-bottom: 3rem;">
						<h2 style="font-size: 1.5rem; font-weight: 600; margin-bottom: 1rem;">Metric Overview</h2>
						
					</section>
				</div>
				

				

				
			</section>
			<PorjectsFooter />
			<Footer />
		</div>
	</main>
</Layout>

<style>
	  button[data-tab] {
    background-color: #f3f4f6;
    color: #374151;
  }
  button[data-tab].active {
    background-color: #3b82f6;
    color: white;
  }
  img[data-image] {
    opacity: 0;
	display: none;
	width: 50vw;
  }
  img[data-image].active {
    opacity: 1;
	display: block;
  }
	

	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.header-appear {
		opacity: 0;
		animation: header-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1s;
	}

	@keyframes header-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}

	.subheader-appear {
		opacity: 0;
		animation: subheader-animation linear forwards;
		animation-duration: 2s;
		animation-delay: 1.5s;
	}

	@keyframes subheader-animation {
		from {
			opacity: 0;
			transform: translateY(-10px)
		}

		to {
			opacity: 1;
			transform: translateY(0px)
		}
	}
</style>

<script>
	function setupTabs() {
	  const tabs = document.querySelectorAll('button[data-tab]');
	  const images = document.querySelectorAll('img[data-image]');
  
	  function setActiveTab(tabId: string) {
		tabs.forEach(tab => {
		  if (tab.getAttribute('data-tab') === tabId) {
			tab.classList.add('active');
		  } else {
			tab.classList.remove('active');
		  }
		});
  
		images.forEach(img => {
		  if (img.getAttribute('data-image') === tabId) {
			img.classList.add('active');
		  } else {
			img.classList.remove('active');
		  }
		});
	  }
  
	  tabs.forEach(tab => {
		tab.addEventListener('click', () => {
		  const tabId = tab.getAttribute('data-tab');
		  if (tabId) setActiveTab(tabId);
		});
	  });
  
	  // Set initial active tab
	  setActiveTab('tab1');
	}
  
	// Run the setup when the DOM is fully loaded
	document.addEventListener('DOMContentLoaded', setupTabs);
  </script>
