---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';

const anim = {
	old: {
	  name: 'bump',
	  duration: '1.5s',
	  easing: 'ease-in',
	  direction: 'reverse',
	},
	new: {
	  name: 'bump',
	  duration: '1.5s',
	  easing: 'ease-in-out',
	  
	},
  };
  
  const customTransition = {
	forwards: anim,
	backwards: anim,
  };

---

<Layout title="Ashraf Khattab Portfolio">
	<main style="background: #101010; ">
		<div style="position:relative; overflow-x: clip;">
			<PageHeader />
	
			<section style="padding: 10rem 0 0; background: linear-gradient(0deg, #101010 0%, #101010 90%, transparent 100%); position: relative; z-index: 20;opacity: 1;" id="About">
				<div style="" class="bio-container" id="about">
					<div style="" class="bio--header">
						<p style="margin-block-end: 1rem;line-height: 1.35; font-size: 48px; font-weight: 600; text-align: left; margin-bottom: 3rem;">I am a multidisciplinary designer. I combine form and function to create beautiful, useful experience for people.</p>
						<p style="margin-block-end: 1rem;line-height: 1.35; font-size: 48px; font-weight: 600; text-align: left; margin-bottom: 3rem;">I lead the Design Team at Klipfolio. We work in the complex world of data and analytics, where we specialize in crafting the visual and user experience that empowers our customers to unlock insights from their data.</p>
						<p style="margin-block-end: 1rem;line-height: 1.35; font-size: 48px; font-weight: 600; text-align: left;">I combine skills from multiple disciplines.</p>
					</div>
					<div style=""  class="bio--roles">
						<div style="max-width: auto; text-align: left;" >
							<p style="margin-block-end: 1rem;line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #555;">Product Designer:</span> Data isn't just numbers; it's insights and opportunity to make better decisions. I'm passionate about making data visually appealing because good data is data anyone can use. By combining aesthetics and functionality, we create intuitive, impactful experiences.</p>
						</div>
						<div style="width: auto; text-align: left;" >
							<p style="line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #555;">Front-end developer:</span> I’m always looking for opportunities to bridge the gap between design and code, ensuring that what’s envisioned is what’s delivered.</p>
						</div>
						<div style="width: auto; text-align: left;" >
							<p style="margin-block-end: 1rem;line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #555;">Mentor:</span> The best way to learn is to teach. I am passionate about advising design teams at other startups and mentoring junior designers at work and in the community.</p>
						</div>
						<div style="width: auto; text-align: left;" >
							<p style="line-height: 1.5; font-size: 24px"><span style="font-weight: bold; color: #555;">Leader:</span> I guide a diverse team of designers, researchers, writers, and developers. Together, we shape product experiences that bring our product roadmap to life.</p>
						</div>

						<div style="width: auto; text-align: left;" >
							<p style="line-height: 1.5;font-size: 24px;">Want to know more? 
								<a href="../ashraf-khattab-resume-2024.pdf" style="display: inline-flex;align-items: center;" class="resume-link"><span style="margin-right: 0.5rem;">Check out my resume</span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow"><path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#fff"/></svg></a>
							</p>
							<p style="line-height: 1.5; font-size: 24px">Or let's connect at ashraf.gmk@gmail.com</p>
						</div>
					</div>
				</div>
			</section>
			<section class="case-studies-gallery" style="padding: 5rem 0 0; background: var(--hue); position: relative; z-index: 20;opacity: 1;">
				<!-- Case Studies -->
				<div style="position: relative; z-index: 20; align-items: center;justify-content: center;">
					<div class="work-cover--title-container">
						<div style="max-width: 800px; margin: auto;text-align: center;" class="project-headers" id="Work">
							<h2 style="color: #333; font-size: 64px; font-weight: bold; margin-block-end: 1rem; ">Case studies</h2>
							<p style="color: #999;font-weight: 500;">Projects that have had impact</p>
						</div>
					</div>
					<div class="work-cover--outer-container">
						 <div class="work-cover-container">
							<a href="/explorer"> 
								<figure class="work-cover" transition:name="explorer-hero">
									<Image src={ExplorerHero} alt="Metric Explorer" />
								</figure>
							</a>
							<a href="explorer.html" class="work-title" transition:name="explorer-title">Metric Explorer (2024)</a>
						</div>
						<div class="work-cover-container">
							<a href="/dimensions-2"> 
								<figure style="" class="work-cover" transition:name="dimensions-hero">
									<Image src={DimensionsHero} alt="DimensionsHero Explorer" />
								</figure>
							</a>
							<a href="/dimensions-2" class="work-title" transition:name="dimensions-title">Dimensions 2.0 (2024)</a>
						</div>
						<div class="work-cover-container">
							<a href="/global-search"> 
								<figure style="" class="work-cover" transition:name="global-searach-hero">
									<Image src={GlobalSearchHero} alt="GlobalSearchHero Explorer" />
								</figure>
							</a>
							<a href="/global-search" class="work-title" transition:name="global-search-title">Assets Global Search (2023)</a>
						</div>
						<div class="work-cover-container">
							<a href="/pm-assistant"> 
								<figure class="work-cover" transition:name="pm-assistant-hero">
									<Image src={PmAssistHero} alt="PmAssistHero Explorer" />
								</figure>
							</a>
							<a href="/pm-assistant" class="work-title" transition:name="pm-assistant-title">PowerMetrics Assistant (2023)</a>
						</div>
					</div>
				</div>
				<!-- Other Work -->
				<div style="position: relative; background: #e0e0e0; z-index: 20; align-items: center;justify-content: center;">
					<div class="work-cover--title-container">
						<div style="max-width: 800px; margin: auto;text-align: center;" class="project-headers">
							<h2 style="color: #333;font-size: 64px; font-weight: bold; margin-block-end: 1rem; ">Other projects</h2>
							<p style="color: #999;font-weight: 500;">Bridging the gap between marketing communication and product experience</p>
						</div>
					</div>
					<div class="work-cover--outer-container">
						
							<div class="work-cover-container">
								<a href="/klipfolio-homepage-2024"> 
									<figure class="work-cover" style="border-radius: 1rem;" transition:name="homepage-2024-hero" >
										<Image src={Homepage2024Hero} alt="Metric Explorer" />
									</figure>
								</a>
								<a href="/klipfolio-homepage-2024" class="work-title"  transition:name="homepage-2024-title">Klipfolio Homepage (2024)</a>
							</div>
							<div class="work-cover-container">
								<a href="/klipfolio-homepage-2023"> 
									<figure class="work-cover" style="border-radius: 1rem;" transition:name="homepage-2023-hero" >
										<Image src={Homepage2023Hero} alt="Metric Explorer" />
									</figure>
								</a>
								<a href="/klipfolio-homepage-2023" class="work-title" transition:name="homepage-2023-title">Klipfolio Homepage (2023)</a>
							</div>
							
						
						
						
					</div>
				</div>
			</section>

			<div class="footer" id="Contact">
				<div style="margin-bottom: 3rem;">
					<h2 style="color: #fff;font-size: 2rem; font-weight: bold; margin-block-end: 1rem; ">Get in touch</h2>
				</div>
				<div class="social-media" style="margin-bottom: 3rem;">
					<a href="mailto:ashraf.gmk@gmail.com?subject=I%20am%20coming%20from%20your%20portfolio" title="Email me on ashraf.gmk@gmail.com">
						<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 512 512"><path d="M510.678 112.275a70.823 70.823 0 0 0-14.662-31.054c-1.518-1.915-3.104-3.63-4.823-5.345-12.755-12.818-30.657-20.814-50.214-20.814H71.021c-19.557 0-37.395 7.996-50.21 20.814-1.715 1.715-3.301 3.43-4.823 5.345-7.203 8.788-12.358 19.428-14.602 31.054A68.69 68.69 0 0 0 0 126.087V385.92c0 9.968 2.114 19.55 5.884 28.203 3.497 8.26 8.653 15.734 14.926 22.001a77.4 77.4 0 0 0 4.892 4.494 70.957 70.957 0 0 0 45.319 16.32h369.958c17.18 0 33.108-6.145 45.323-16.384 1.718-1.386 3.305-2.844 4.891-4.43 6.27-6.267 11.425-13.741 14.994-22.001v-.064c3.769-8.653 5.812-18.171 5.812-28.138V126.087a72.986 72.986 0 0 0-1.321-13.812zM46.509 101.571c6.345-6.338 14.866-10.175 24.512-10.175h369.958c9.646 0 18.242 3.837 24.512 10.175a34.402 34.402 0 0 1 3.112 3.637L274.696 274.203c-5.348 4.687-11.954 7.002-18.696 7.002-6.674 0-13.276-2.315-18.695-7.002L43.472 105.136c.858-1.25 1.915-2.436 3.037-3.565zM36.334 385.92V142.735L176.658 265.15 36.405 387.435c-.071-.464-.071-.986-.071-1.515zm404.645 34.677H71.021c-6.281 0-12.158-1.651-17.174-4.552l147.978-128.959 13.815 12.018c11.561 10.046 26.028 15.134 40.36 15.134a61.64 61.64 0 0 0 40.432-15.134l13.808-12.018 147.92 128.959c-5.023 2.901-10.9 4.552-17.181 4.552zm34.687-34.677c0 .529 0 1.051-.068 1.515L335.346 265.221 475.666 142.8v243.12z" style="fill:#fff"/></svg>
					</a>
					<a class="" href="https://twitter.com/ashrafgmk" rel="noopener noreferrer" target="_blank" title="Come follow me on Twitter!"><svg fill="white" class="w-5 h-5" viewBox="0 0 24 24" role="img">
							<title>Follow me on Twitter!</title>
							<path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"></path>
						</svg></a>
					<a class="" href="https://www.instagram.com/ak.pictures.jpg/" rel="noopener noreferrer" target="_blank" title="Come follow me on Instagram!"><svg fill="white" role="img" class="w-5 h-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<title>Follow me on Instagram!</title>
							<path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"></path>
						</svg></a>
					<a href="https://dribbble.com/Ashrafgk">
						<svg fill="white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" role="img" class="icon fill-current">
							<title>Follow me on Dribbble!</title>
							<rect width="32" height="32" fill="white" fill-opacity="0"></rect>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16703 0 0 7.16703 0 16C0 24.833 7.16703 32 16 32C24.8156 32 32 24.833 32 16C32 7.16703 24.8156 0 16 0ZM26.5683 7.37527C28.4772 9.70065 29.6226 12.6681 29.6573 15.8785C29.2061 15.7918 24.6941 14.872 20.1475 15.4447C20.0434 15.2191 19.9566 14.9761 19.8525 14.7332C19.5748 14.0738 19.2625 13.397 18.9501 12.7549C23.9826 10.7072 26.2733 7.75705 26.5683 7.37527ZM16 2.36009C19.4707 2.36009 22.6464 3.66161 25.0586 5.7961C24.8156 6.14317 22.7505 8.90239 17.8915 10.7245C15.6529 6.61171 13.1714 3.24512 12.7896 2.72451C13.8134 2.48156 14.8894 2.36009 16 2.36009ZM10.1866 3.64425C10.551 4.13015 12.9805 7.5141 15.2538 11.5401C8.86768 13.2408 3.22777 13.2061 2.62039 13.2061C3.50542 8.9718 6.36876 5.44902 10.1866 3.64425ZM2.32538 16.0174C2.32538 15.8785 2.32538 15.7397 2.32538 15.6009C2.9154 15.6182 9.54447 15.705 16.3644 13.6573C16.7636 14.4208 17.128 15.2017 17.4751 15.9826C17.3015 16.0347 17.1106 16.0868 16.9371 16.1388C9.89154 18.4121 6.14317 24.6247 5.8308 25.1453C3.6616 22.7332 2.32538 19.5228 2.32538 16.0174ZM16 29.6746C12.8416 29.6746 9.92625 28.5987 7.61822 26.7939C7.86117 26.2907 10.6377 20.9458 18.3427 18.256C18.3774 18.2386 18.3948 18.2386 18.4295 18.2213C20.3557 23.2017 21.1367 27.3839 21.3449 28.5813C19.6963 29.2928 17.8915 29.6746 16 29.6746ZM23.6182 27.3319C23.4794 26.4989 22.7505 22.5076 20.9631 17.5965C25.2495 16.9197 28.9978 18.0304 29.4664 18.1866C28.8764 21.987 26.6898 25.2668 23.6182 27.3319Z"></path>
						</svg>
					</a>
				</div>
				<div style="font-size: 1rem;">Ashraf Khattab © <span>2024</span></div>
			</div>
	
			
		</div>
	</main>
	<script is:inline>
		document.querySelectorAll('a[href^="#"]').forEach(anchor => {
			anchor.addEventListener('click', (e) => {
				e.preventDefault();

				const target = document.querySelector(anchor.getAttribute('href'));
				const targetPosition = target?.getBoundingClientRect().top || 0;
				const startPosition = window.pageYOffset;
				const duration = 2000; // Duration of the scroll in milliseconds
				let startTime = null;

				function animateScroll(currentTime) {
				if (startTime === null) startTime = currentTime;
				const timeElapsed = currentTime - startTime;
				const run = ease(timeElapsed, startPosition, targetPosition, duration);
				window.scrollTo(0, run);
				if (timeElapsed < duration) requestAnimationFrame(animateScroll);
				}

				function ease(t, b, c, d) {
				t /= d / 2;
				if (t < 1) return (c / 2) * t * t + b;
				t--;
				return (-c / 2) * (t * (t - 2) - 1) + b;
				}

				requestAnimationFrame(animateScroll);
			});
		});



	</script>
	  
</Layout>

<style>
	@property --hue {
		syntax: "<color>";
		inherits: false;
		initial-value: #e1e1e1;
	}

	@keyframes hue-cycle { 
		from {
			--hue: #101010
		}
		to {
			--hue: #e1e1e1
		}
	}

	@supports (animation-timeline: scroll()) {
		section.case-studies-gallery {
			view-timeline-name: --revealing-bg;
			view-timeline-axis: block;

			/* Attach animation, linked to the  View Timeline */
			animation: hue-cycle 2s linear both;
			animation-timeline: --revealing-bg;

			/* Tweak range when effect should run*/
			animation-range: entry 95% cover 13%;
		}	
	}

	section.case-studies-gallery {
		background: var(--hue);
	}

    :root {
        --x: 0;
        --y: 0;
    }
	
	.work-cover--title-container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 2rem;
		position: sticky;
		top: 0;
	}

	.work-cover--outer-container {
		max-width: 1200px;
		margin: auto;
		padding: 0 2rem;
		background: linear-gradient(0deg, #e1e1e1 0%, #e1e1e1 97%, transparent 100%);
		position: relative;
		z-index: 100;
	}

	.project-headers > *{
		/* Create View Timeline */
		view-timeline-name: --revealing-text;
		view-timeline-axis: block;

		/* Attach animation, linked to the  View Timeline */
		animation: linear text-reveal both;
		animation-timeline: --revealing-text;

		/* Tweak range when effect should run*/
		animation-range: entry 45% cover 13%;
	}

	main {
		background-color: #101010;
	}

	@keyframes move-down {
		0% {
			transform: translateY(00px);
		}
		100% {
			transform: translateY(-220px);
			
		}
	}

	/* work */
	@keyframes revealing {
		from {
			box-shadow: 0px 0px 1px rgba(0,0,0,0.05);
		}
		to {
			box-shadow: 0px 90px 90px rgba(0,0,0,0.65);
		}
	}

	@keyframes text-reveal {
		from {
			opacity: 0;
			filter: blur(5px);
		}
		to {
			opacity: 1;
			filter: blur(0px);
		}
	}

	.bio-container {
		max-width: 1800px; 
		padding: 10rem 0; 
		align-items: center;
		justify-content: center; 
		display: flex; 
		flex-direction: column; 
		margin: auto; 
		position: relative;
		p {
			/* Create View Timeline */
			view-timeline-name: --revealing-text;
			view-timeline-axis: block;

			/* Attach animation, linked to the  View Timeline */
			animation: linear text-reveal both;
			animation-timeline: --revealing-text;

			/* Tweak range when effect should run*/
			animation-range: entry 15% cover 40%;
		}
	}

	.bio--header {
		max-width: 780px;
		margin: 0; 
		margin-block-end: 3rem; 
		padding: 0 2rem; 
		position: relative; 
		z-index: 2;
	}

	.bio--roles {
		max-width: 780px; 
		display: grid; 
		grid-template-columns: 1fr; 
		gap: 3rem; 
		margin-block-end: 2rem; 
		padding: 0 2rem;
	}

	.resume-link:hover {
		
			.arrow {
				transform: translateX(5px);
			}
		
	}
	.arrow {
		transform: translateX(0px);
		transition: transform 0.25s ease;
	}
	
	
	.work-cover-container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	

	.work-cover {
		width: 50vw;
		max-width: 1200px;
		min-width: 900px;
		box-sizing: border-box;
		background-size: cover; 
		margin: 0rem auto 2rem;
		border-radius: 2rem;
		overflow: hidden;
		border: 10px solid #101010;
		box-shadow: 0px 90px 90px rgba(0,0,0,0.65);
	
		/* Create View Timeline */
		view-timeline-name: --revealing-image;
		view-timeline-axis: block;

		/* Attach animation, linked to the  View Timeline */
		animation: ease-in-out revealing both;
		animation-timeline: --revealing-image;

		/* Tweak range when effect should run*/
		animation-range: entry 60% cover 60%;
	}

	.work-img {
		animation: parallax ease-out;
		animation-timeline: view();
		animation-range: entry 25% cover 50%;
		grid-area: cover;
		border-radius: 2rem;
		width: 100%;
		max-width: 100%;
	}
	.work-title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.4rem;
		font-size: 2rem;
		font-weight: bold;
		color: #202020;
	}

	.works-tag {
		background: #555;
		border-radius: 8px;
		padding: 0.5rem 1rem;
		font-size: 12px;
	}

	@keyframes appear-progress {
		from {
			transform: translateY(100px);
			opacity: 0;
		}

		to {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.appear {
		position: relative;
		top: 20px;
		margin: auto;
		transform-origin: 50% 50%;
		animation: appear-progress auto linear;
		animation-timeline: scroll(block nearest);
		animation-range: exit-crossing 0% exit-crossing 20%;
	}

	.work-img {
		animation: parallax ease-out;
		animation-timeline: view();
		animation-range: entry 25% cover 50%;
		grid-area: cover;
		border-radius: 2rem;
		width: 100%;
		max-width: 100%;
	}

	.other-work-grid { 
		display: grid; grid-template-columns: 1fr 1fr; gap: 1rem; 
		.work-cover, .work-cover-container {
			width: auto;
			max-width: none;
			min-width: auto;
		}
	}
	@media only screen and (max-width: 1280px) {
		.work-cover {
			width: auto;
			max-width: none;
			min-width: auto;
		}
		.work-cover--title-container { 
			
			max-width: none;
			min-width: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 5rem;
			z-index: -1;
		}
		.work-cover-container {
			
			max-width: none;
			min-width: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-bottom: 10rem;
		}
		.case-studies-gallery {
			margin-block-end: 0;
		}
		.footer {
			background-color: #101010;
			text-align: center;
			position: relative;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 1;
			
		}
	}

	@media only screen and (max-width: 992px) {
		#pattern-move-1 { display: none;}
		#pattern-move-2 { display: none;}
		.work-cover--title-container { 
			
			max-width: none;
			min-width: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 5rem;
			z-index: -1;
		}
		.work-cover-container {
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-bottom: 10rem;
		}
		.work-cover {
			border-radius: 1rem; 
			width: auto;
		}
		.work-title {
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
		}

		.other-work-grid { display: grid; grid-template-columns: 100%; gap: 1rem; }
	}

	.footer {
		background-color: #101010;
		text-align: center;
		width: 100%;
		height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}

	.social-media {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2rem;

		a svg {
			width: 50px;
			height: 50px;
		}
	}


</style>
