---
import { Image } from 'astro:assets';
import ExplorerHero from '../assets/work-explorer--cover-3.png';
import DimensionsHero from '../assets/work-dimensions-2--cover.png';
import PmAssistHero from '../assets/work-pm-assistant--cover.png';
import GlobalSearchHero from '../assets/work-global-search--cover.png';
import Homepage2024Hero from '../assets/klipfolio-homepage-2024-cover.png';
import Homepage2023Hero from '../assets/klipfolio-homepage-2023-cover.png';

---

<div style="padding: 10rem 0 0; background: linear-gradient(0deg, #f1f1f1 0%, #f1f1f1 90%, transparent 100%); position: relative; z-index: 20;opacity: 1;">
	<section style="position: relative; z-index: 20; align-items: center;justify-content: center; margin-bottom: 5rem; ">
		<div style="max-width: 800px; margin: auto;text-align: center;; margin-block-end: 4rem;">
			<h2 style="font-size: 64px; font-weight: bold; margin-block-end: 1rem;">More projects</h2>
		</div>
		<div style="max-width: 1200px; margin: auto; padding: 0 2rem; display: grid; grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr)); gap: 1.5rem">
			 <div class="work-cover-container">
				<a href="/explorer"> 
					<figure style="margin-block-end: 1rem;" class="work-cover">
						<Image src={ExplorerHero} alt="Metric Explorer" style="border-radius: 1.25rem;" />
					</figure>
				</a>
				<a href="explorer.html" class="work-title" style="font-size: 1.25rem; font-weight: bold;">Metric Explorer (2024)</a>
			</div>
			<div class="work-cover-container">
				<a href="/dimensions-2"> 
					<figure style="margin-block-end: 1rem;" class="work-cover">
						<Image src={DimensionsHero} alt="Metric Explorer" style="border-radius: 1.25rem;" />
					</figure>
				</a>
				<a href="/dimensions-2" class="work-title" style="font-size: 1.25rem; font-weight: bold;">Dimensions 2.0 (2024)</a>
			</div>
			<div class="work-cover-container">
				<a href="/pm-assistant"> 
					<figure style="margin-block-end: 1rem;" class="work-cover">
						<Image src={PmAssistHero} alt="Metric Explorer" style="border-radius: 1.25rem;" />
					</figure>
				</a>
				<a href="/pm-assistant" class="work-title" style="font-size: 1.25rem; font-weight: bold;">PowerMetrics Assistant (2023)</a>
			</div>
			 <div class="work-cover-container">
				<a href="/global-search"> 
					<figure style="margin-block-end: 1rem;" class="work-cover">
						<Image src={GlobalSearchHero} alt="Metric Explorer" style="border-radius: 1.25rem;" />
					</figure>
				</a>
				<a href="/global-search" class="work-title" style="font-size: 1.25rem; font-weight: bold;">Assets Global Search (2023)</a>
			</div>
			<div class="work-cover-container">
				<a href="/klipfolio-homepage-2024"> 
					<figure style="margin-block-end: 1rem;" class="work-cover">
						<Image src={Homepage2024Hero} alt="Metric Explorer" style="border-radius: 1.25rem;" />
					</figure>
				</a>
				<a href="/klipfolio-homepage-2024" class="work-title" style="font-size: 1.25rem; font-weight: bold;">Klipfolio Homepage (2024)</a>
			</div>
			<div class="work-cover-container">
				<a href="/klipfolio-homepage-2023"> 
					<figure style="margin-block-end: 1rem;" class="work-cover">
						<Image src={Homepage2023Hero} alt="Metric Explorer" style="border-radius: 1.25rem;"/>
					</figure>
				</a>
				<a href="/klipfolio-homepage-2023" class="work-title" style="font-size: 1.25rem; font-weight: bold;">Klipfolio Homepage (2023)</a>
			</div>
		</div>
	</section>
</div>

<style>
	.footer {
		text-align: center;
		position: relative;
		z-index: 2;
	}

	a {
		color: #333;
	}

	.social-media {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		a svg {
			width: 20px;
			height: 20px;
		}
	}
</style>